* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #f8f6f0;
}

ul {
	background-color: #ffdbe0;
	padding: 1%;
}

li {
	display: inline;
	color: "black";
}

h1 {
	padding: 1%;
}

p {
	padding: 1%
}
